
body {
    background-color: #d2f3f7;
}

/* bootstrap overwrite */
.btn, .btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #e8f1f2;
}

.btn-primary {
    background-color: #247ba0;
    border-color: #247ba0;
}

.btn-primary:hover {
    background-color: #1b98e0;
    border-color: #1b98e0;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #006494;
    border-color: #006494;
    box-shadow: none !important;
}
